00
/01/And.cmp
/01/And.out
/01/And.tst
/01/And16.cmp
/01/And16.out
/01/And16.tst
/01/DMux.cmp
/01/DMux.out
/01/DMux.tst
/01/DMux4Way.cmp
/01/DMux4Way.out
/01/DMux4Way.tst
/01/DMux8Way.cmp
/01/DMux8Way.out
/01/DMux8Way.tst
/01/Mux.cmp
/01/Mux.out
/01/Mux.tst
/01/Mux4Way16.cmp
/01/Mux4Way16.out
/01/Mux4Way16.tst
/01/Mux8Way16.cmp
/01/Mux8Way16.out
/01/Mux8Way16.tst
/01/Mux16.cmp
/01/Mux16.out
/01/Mux16.tst
/01/Not.cmp
/01/Not.out
/01/Not.tst
/01/Not16.cmp
/01/Not16.out
/01/Not16.tst
/01/Or.cmp
/01/Or.out
/01/Or.tst
/01/Or8Way.cmp
/01/Or8Way.out
/01/Or8Way.tst
/01/Or16.cmp
/01/Or16.out
/01/Or16.tst
/01/Xor.cmp
/01/Xor.out
/01/Xor.tst

/02/Add16.cmp
/02/Add16.out
/02/Add16.tst
/02/ALU_struggle_post.txt
/02/ALU-nostat.cmp
/02/ALU-nostat.tst
/02/ALU.cmp
/02/ALU.out
/02/ALU.tst
/02/FullAdder.cmp
/02/FullAdder.out
/02/FullAdder.tst
/02/HalfAdder.cmp
/02/HalfAdder.out
/02/HalfAdder.tst
/02/Inc16.cmp
/02/Inc16.out
/02/Inc16.tst

/03/a/Bit.cmp
/03/a/Bit.out
/03/a/Bit.tst
/03/a/PC.cmp
/03/a/PC.out
/03/a/PC.tst
/03/a/RAM8.cmp
/03/a/RAM8.out
/03/a/RAM8.tst
/03/a/RAM64.cmp
/03/a/RAM64.out
/03/a/RAM64.tst
/03/a/Register.cmp
/03/a/Register.out
/03/a/Register.tst
/03/b/RAM4K.cmp
/03/b/RAM4K.out
/03/b/RAM4K.tst
/03/b/RAM16K.cmp
/03/b/RAM16K.out
/03/b/RAM16K.tst
/03/b/RAM512.cmp
/03/b/RAM512.out
/03/b/RAM512.tst

/04/fill/Fill.tst
/04/fill/FillAutomatic.cmp
/04/fill/FillAutomatic.tst

/04/mult/Mult.cmp
/04/mult/Mult.tst

05
06
07
08
09
10
11
12
13
demo